@{
    ViewBag.Title = "Login";
}


@using (Html.BeginForm("Check", "Login",null, FormMethod.Post))
{

<h1>ログイン</h1>

<form action="/Menu/Index">

    <div class="form-group">
            <input type="text" name="userId" class="form-control" placeholder="ユーザーID" />       
    </div>

    <div class="form-group">       
            <input type="password" name="password" class="form-control" placeholder="パスワード" />      
    </div>

    <div class="form-group">
            <input type="submit" value="ログイン" class="btn btn-primary" />
    </div>
</form>
}

